<div class="home_prese">
    <h1 style="text-align: center;">Bienvenido a mi Portafolio</h1>
    <div class="barra-flecha">
    </div>
    <div class="barra-flecha2">
    </div>
    <div class="esquema_paguina">
        <div>
            <div class="contenidos position-relative top-50 start-50 translate-middle">
                <h3>Estudios</h3>
            </div>
        </div>
        <div>
            <h3 class="contenidos" style="padding: 75px;">Fron-End</h3>
            <h3 style="padding: 90px;"><i class='bx bx-archive' style='color:#3316d6; font-size: 50px;'></i></h3>
            <h3 class="contenidos" style="padding: 75px;">API rest</h3>
        </div>
        <div>
            <div class="contenidos position-relative top-50 start-50 translate-middle">
                <h3>Proyectos</h3>
            </div>
        </div>
    </div>
</div>