<div class="barra-arriba position-absolute top-0 start-0 end-0">
    <h1 style="text-align: left;">Carlos Patricio Labrín Cartagena</h1>
    <h6 style="text-align: left;">Ingeniero informatico multimedia</h6>
    <h6 style="text-align: left;">Licenciado en informatica multimedia</h6>
</div>
<div class="position-relative">
    <div class="barra-medio">
        <!-- <h1 style="text-align: center; margin-top: 30px;">Medio 3</h1> -->
        <div>Dalo 1</div>
        <div>Dalo 3</div>
        <div>Dalo 4</div>
        <div>Dalo 5</div>
        <div>Dalo 6</div>
        <div>Dalo 7</div>
    </div>
</div>
<div class="barra-abajo position-absolute botton-0 start-0 end-0">
    <h1 style="text-align: center;">ESTO ES ABAJO</h1>
</div>