.resumen > div {
    display: grid;
    grid-template-columns: 20px 20px;
    border-bottom: solid red;
    text-align: center;
    color: black;
}

.hr{
    position: sticky;
}

.iconos_presentacion{
    display: grid;
    grid-template-columns: 100px 100px 100px auto;
    padding: 0px;
    padding-top: 20px;
    /* background-color: black; */
    justify-content: space-evenly;
}