<div class=" estudios_medios">
    <h4 style="border-bottom: solid red;"> Titulos </h4>
    <div class="estudios" >
        <div>
            <h5>Ingeniero Informatico Multimedia</h5>
            <h6>Universidad del Arte Ciencia y Comunicacion</h6>
            <h6>Ver centificado</h6>
        </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sint iusto id sunt vero, 
            unde illum ad vitae hic deserunt quae magnam nam maiores incidunt sapiente quam explicabo dolorum dicta!</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sint iusto id sunt vero, 
            unde illum ad vitae hic deserunt quae magnam nam maiores incidunt sapiente quam explicabo dolorum dicta!</div>
        <div style="text-align: right;">
            <h5>Licenciado Informatico Multimedia</h5>
            <h6>Universidad del Arte Ciencia y Comunicacion</h6>
            <h6>Ver centificado</h6>
        </div>
        <div>
            <h5>Tecnico Nivel Superior Analista Programador de Sistemas Computacionales</h5>
            <h6>Instituto Profesional de Chile</h6>
            <h6>Ver centificado</h6>
        </div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sint iusto id sunt vero, 
            unde illum ad vitae hic deserunt quae magnam nam maiores incidunt sapiente quam explicabo dolorum dicta!</div>
    </div>
    <div class="" >
        <h4 style="border-bottom: solid red;"> Centificaciones </h4>
    </div>
</div>
