<div class="shadow lg p-3 mb-5 barra-arriba top-0 start-0 end-0">
    <div class="home">
        <h1 style="text-align: left;">Carlos Patricio Labrín Cartagena</h1>
        <Button class="danger bg-danger" routerLink="inicio" >HOME</Button>
    </div>
    <div class="presentacion" style="align-items: center;">
        <div style="align-items: center;">
            <h6 style="text-align: left; font-size: larger;">Ingeniero Informatico Multimedia</h6>
        </div>
        <div style="align-items: center;" >
            <Button class="secondary bg-secondary" routerLink="mostrar-estudios" >Ver mas</Button>
        </div>
    </div>
</div>
<div style="padding: 15px;">
</div>
    <router-outlet></router-outlet>
<div class="barra-abajo position-absolute botton-0 start-0 end-0">
    <h1 style="text-align: center;">ESTO ES ABAJO</h1>
</div>