.barra-arriba{
    background-color: blue;
    text-align: center;
    color: white;
    position: fixed;
    padding: 20px;
    border: 5px;
    box-shadow: 0 1rem 3rem #000000;
}

.presentacion{
    display: grid;
    grid-template-columns: 280px 130px;
    padding-left: 0px;
    /* margin-bottom: 200px; */
    
}

.home{
    display: grid;
    grid-template-columns: auto 130px;
    padding-left: 0px;
    /* margin-bottom: 200px; */
    
}

.barra-abajo{
    background-color: blue;
    position: sticky;
    position: -webkit-sticky;
    border-color: black;
    padding: 109px;
    color: white;

}