<div class="creaciones">
    <h1 style="text-align: right; border-bottom: solid red; margin-right: 17px; margin-left: 12px;">Poyectos sin APIrest</h1>
    <div class="container proyectos">
        <div class="vistaprevia">
            <img src="../../../../assets/git_proyectos/XHhd9ut4UL.gif" width="300px" height="205px">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;" >Blackjack</a>
                <!-- <h6 style="text-align: center;">Blackjack</h6> -->
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Primer proyecto</a>
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Primer proyecto</a>
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Primer proyecto</a>
            </div>
        </div>
    </div>
    <h1 style="text-align: right; border-bottom: solid red; margin-left: 12px; margin-right: 17px;">Poyectos con APIrest</h1>
    <div class="container proyectos">
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Conociendo Paises</a>
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Buscando Pokemones</a>
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Primer proyecto</a>
            </div>
        </div>
        <div class="vistaprevia">
            <img src="../../../../assets/img/206021_1.jpg" alt="">
            <div class="tituloproyecto">
                <a type="button" style="text-align: center; font-size: larger;">Primer proyecto</a>
            </div>
        </div>
    </div>
</div>